# ----------------------------------------------------------------------------------------------
# Namespace Aliases
# ----------------------------------------------------------------------------------------------
alias app             = com.mathiasgrimm.app
alias IndexController = app.controller.IndexController

GET    /            com.mathiasgrimm.app.controller.IndexController.index() home_page
GET    /user/:id    {{ app }}.controller.IndexController.user(Integer)            user_profile
HEAD   /ping/:id/:price/:type/:all {{ IndexController }}.user(Integer, Double, String, Boolean)  # no name